<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/encabezado :: encabezado"></head>
<body>

<div class="container mt-4">
    <h2>Contrataciones</h2>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Fecha</th>
        </tr>

        <tr th:each="c : ${contrataciones}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.fecha}"></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/pie_pagina :: pie"></div>
</body>
</html>