<div th:replace="fragmentos/encabezado :: body">

<h2>Cliente</h2>

<form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">

    <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control mb-2">
    <input type="text" th:field="*{documento}" placeholder="Documento" class="form-control mb-2">
    <input type="text" th:field="*{telefono}" placeholder="Teléfono" class="form-control mb-2">
    <input type="email" th:field="*{email}" placeholder="Email" class="form-control mb-2">

    <button class="btn btn-success">Guardar</button>

</form>

</div>
<div th:replace="fragmentos/pie_pagina :: body"></div>