<div th:replace="fragmentos/encabezado :: body">

<h2>Clientes</h2>

<a href="/clientes/nuevo" class="btn btn-primary mb-2">Nuevo</a>

<table class="table">
    <tr>
        <th>ID</th><th>Nombre</th><th>Email</th><th>Acciones</th>
    </tr>

    <tr th:each="c : ${clientes}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nombre}"></td>
        <td th:text="${c.email}"></td>

        <td>
            <a th:href="@{/clientes/editar/{id}(id=${c.id})}" class="btn btn-warning btn-sm">Editar</a>
            <a th:href="@{/clientes/eliminar/{id}(id=${c.id})}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
    </tr>
</table>

</div>
<div th:replace="fragmentos/pie_pagina :: body"></div>